
	
	

						<div class="row collapse">
							<div class="two-thirds-box">
								<div class="row collapse">
									<div class="small-7 columns">
										<!-- input class="rss-input" type="text" placeholder="URL des RSS feeds" -->
										<f:form.textfield property="feedurl" />
									</div>
									<div class="small-5 columns">
										<button class="rss-add-button">Hinzufugen</button>
									</div>
								</div>
							</div>
							<div class="one-third-box">
								<button class="rss-refresh-button">alle aktualisieren</button>
							</div>
						</div>
