<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="errors-flash" >
<f:flashMessages renderMode="div"/>
</div>



<div class="content__panel-blue panel">
					<p>Fügen Sie weitere, eigen Nachrichtenkanäle hinzu.  Sie brauchen nur die URL des RSS Feeds</p>
					<f:form action="create"  name="newRssmanager" object="{newRssmanager}">
					<f:render partial="Rssmanager/FormFields" />
						<!-- f:form.submit value="Create new" / -->
					</f:form>
					
</div>


<div class="content__tabs-mobile show-for-small">
	<div class="choose-field"><i class="icon-chevron-down"></i><span>Aktuell</span></div>
	<div class="choose-list hide">
		<f:for each="{rssmanagers}" as="rssmanager">
			<div data-tab="tab1">{rssmanager.feedtitle}</div>
		</f:for>	
	</div>
</div>

<div class="content__tabs hide-for-small">
	<ul>
		<f:for each="{rssmanagers}" as="rssmanager">
			<li data-tab="tab{rssmanager.uid}">{rssmanager.feedtitle}</li>
		</f:for>	
	</ul>
</div>

<f:for each="{rssrecords}" as="rssrecord">
<div class="content__tab-desc tab{rssrecord.uid}">
					<div class="content__header-title">
						<span>{rssrecord.title}</span>
						<f:link.action action="delete" class="del-ico" arguments="{rssmanager:rssrecord.uid}"></f:link.action><!-- a href="#" class="del-ico"></a -->
					</div>
					<f:for each="{rssrecord.records}" as="it">
					<div class="content__article-item">
						<h5><a href="{it.link}" target="_blank">{it.title}</a></h5>
						<p class="date">{it.date}</p>
						<p>{it.description}</p>
					</div>
					</f:for>
</div>
</f:for>
<!-- table  class="tx_q8yrssmanager" >
	<tr>
		<th><f:translate key="tx_q8yrssmanager_domain_model_rssmanager.feedurl" /></th>
		<th><f:translate key="tx_q8yrssmanager_domain_model_rssmanager.feedtitle" /></th>
		<th><f:translate key="tx_q8yrssmanager_domain_model_rssmanager.feeddate" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{rssmanagers}" as="rssmanager">
		<tr>
			<td><f:link.action action="show" arguments="{rssmanager : rssmanager}"> {rssmanager.feedurl}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rssmanager : rssmanager}"> {rssmanager.feedtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{rssmanager : rssmanager}"> {rssmanager.feeddate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{rssmanager : rssmanager}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{rssmanager : rssmanager}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table -->

<!-- f:link.action action="new">New Rssmanager</f:link.action -->
</f:section>