<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:format.raw>{flashmessage}</f:format.raw>

<div class="small-half-box no-bottom">
					<div class="content__sidebar-item disable-hover-block">
						<a href="<f:uri.page pageUid="{pidto}" />" >
						     
								<img src="{icon1}" alt="" class="padding-span">						
								<span class="rom-pad" style="display:block;">{first_date}</span>
								<span class="rom-pad title-min-height" >{first_title}</span>
							 </span>
							 <span class="block-row"></span>	
								<img src="fileadmin/templates/general_rwd/_common/images/null.png" alt="" class="padding-span" >
								<span class="rom-pad" style="display:block;">{second_date}</span>
								<span class="rom-pad title-min-height">{second_title}</span>
							
							
						</a>
					</div>
					
</div>
	

</f:section>